<div class="footer">
  <div class="contact">
     <p>
       <i class="icon icon-envelope icon-3x" style="color:#660099"></i>
       <div>Your email address</div>
     </p>
  </div>
  <div class="contact">
    <p>
       <a href="#">
         <i class="icon icon-twitter icon-3x" style="color:blue"></i>
         <div>follow on twitter</div>
       </a>
     </p>
   </div>
  <div class="contact">
     <p>
       <a href="#">
         <i class="icon icon-github icon-3x" style="color:black"></i>
         <div>meet in github</div>
       </a>
    </p>
  </div>
  <div class="contact">
     <p>
       <a href="#">
         <i class="icon icon-google-plus icon-3x" style="color:red"></i>
         <div>circle at Google+ </div>
       </a>
    </p>
  </div>
</div>
